<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On
	
	RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
	
#09.06.2023
RewriteRule ^/?page32192587.html$ https://plato-intel.by/ [R=301,L]
RewriteRule ^/?catalog/komandokontrollery/kontrollery-kkp/ruchka-kontrollera-kkp$ https://plato-intel.by/ [R=301,L]
RewriteRule ^/?catalog/gidrotolkateli-te/gidrotolkatel-te-100-usilie-1000n$ https://plato-intel.by/ [R=301,L]
RewriteRule ^/?catalog/komandokontrollery/kontrollery-kkt/val-kontrollera-kkt-62$ https://plato-intel.by/ [R=301,L]
RewriteRule ^/?page31741527.html$ https://plato-intel.by/ [R=301,L]
	
	RewriteRule ^/?about-us$ https://plato-intel.by/about [R=301,L]
RewriteRule ^/?items$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?vyklyuchateli-avtomaticheskie-va$ https://plato-intel.by/catalog/vyklyuchateli-avtomaticheskie [R=301,L]
RewriteRule ^/?automatic-switches-ae$ https://plato-intel.by/catalog/vyklyuchateli-avtomaticheskie [R=301,L]
RewriteRule ^/?automatic-switches-av2m$ https://plato-intel.by/catalog/vyklyuchateli-avtomaticheskie [R=301,L]
RewriteRule ^/?circuit-breakers-a$ https://plato-intel.by/catalog/vyklyuchateli-avtomaticheskie [R=301,L]
RewriteRule ^/?switches-automatic-modular$ https://plato-intel.by/catalog/vyklyuchateli-avtomaticheskie [R=301,L]
RewriteRule ^/?automatic-switches-ap$ https://plato-intel.by/catalog/vyklyuchateli-avtomaticheskie [R=301,L]
RewriteRule ^/?limit-switches$ https://plato-intel.by/catalog/vyklyuchateli-koncevye [R=301,L]
RewriteRule ^/?page31858858.html$ https://plato-intel.by/catalog/vyklyuchateli-koncevye [R=301,L]
RewriteRule ^/?load-break-switches-vnr$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?katushki$ https://plato-intel.by/catalog/tormoznye-magnity [R=301,L]
RewriteRule ^/?kontaktory-kt$ https://plato-intel.by/catalog/kontaktory/kontaktory-kt [R=301,L]
RewriteRule ^/?khpp-contactors$ https://plato-intel.by/catalog/kontaktory [R=301,L]
RewriteRule ^/?kme-contactors$ https://plato-intel.by/catalog/kontaktory [R=301,L]
RewriteRule ^/?high-voltage-contactors$ https://plato-intel.by/catalog/kontaktory [R=301,L]
RewriteRule ^/?contactors-kmi$ https://plato-intel.by/catalog/kontaktory [R=301,L]
RewriteRule ^/?contactors-kmn$ https://plato-intel.by/catalog/kontaktory [R=301,L]
RewriteRule ^/?tkg-brakes$ https://plato-intel.by/catalog/kranovye-tormoza/tormoza-tkg [R=301,L]
RewriteRule ^/?tormoza-tkp$ https://plato-intel.by/catalog/kranovye-tormoza/tormoza-tkp [R=301,L]
RewriteRule ^/?tormoza-tkt$ https://plato-intel.by/catalog/kranovye-tormoza/tormoza-tkt [R=301,L]
RewriteRule ^/?tormoza-tged$ https://plato-intel.by/catalog/kranovye-tormoza/tormoza-tged [R=301,L]
RewriteRule ^/?cross-switches$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?general-industrial-switches$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?package-switches$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?posty-knopochnye$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?starters-pm-12$ https://plato-intel.by/catalog/puskateli-elektromagnitnye [R=301,L]
RewriteRule ^/?starters-pme$ https://plato-intel.by/catalog/puskateli-elektromagnitnye [R=301,L]
RewriteRule ^/?starters-pma$ https://plato-intel.by/catalog/puskateli-elektromagnitnye [R=301,L]
RewriteRule ^/?starters-pml$ https://plato-intel.by/catalog/puskateli-elektromagnitnye [R=301,L]
RewriteRule ^/?relay-rp$ https://plato-intel.by/catalog/rele-teplovoe [R=301,L]
RewriteRule ^/?thermal-relay$ https://plato-intel.by/catalog/rele-teplovoe [R=301,L]
RewriteRule ^/?tormoznye-magnity$ https://plato-intel.by/catalog/tormoznye-magnity [R=301,L]
RewriteRule ^/?transformatory-tti$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?transformatory-tszi$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?elektromagnity-mis$ https://plato-intel.by/catalog/elektromagnity/elektromagnity-mis [R=301,L]
RewriteRule ^/?elektromagnity-emis$ https://plato-intel.by/catalog/elektromagnity/elektromagnity-emis [R=301,L]
RewriteRule ^/?elektromagnity-ed$ https://plato-intel.by/catalog/elektromagnity/elektromagnity-ed [R=301,L]
RewriteRule ^/?mars-counters$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?a45d-ammeters$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?pointer-ammeters-a72$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?items/tproduct/513297793-167567408151-voltmetri-strelochnie-v45d$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?items/tproduct/513297793-540802366461-voltmetri-strelochnie-v96$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?items/tproduct/513297793-120079215661-voltmetri-tsifrovie-tsp-v72-tsp-v96$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?pointer-ammeters-a96$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?pointer-ammeters-a80$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?post-insulators$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?te-hydraulic-pushers$ https://plato-intel.by/catalog/gidrotolkateli-te [R=301,L]
RewriteRule ^/?pantographs$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?items/tproduct/513297793-422006053011-multimetr-tsifrovoi-tdm$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?items/tproduct/513297793-440492856441-tokoizmeritelnie-kleschi-tdm$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?items/tproduct/513297793-383829111891-energomera-schetchik-odnofaznii-ce$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?items/tproduct/513297793-828481412681-energomera-schetchik-trehfaznii$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?transformer-osm$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?transformer-tsz$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?three-phase-dry-tszi$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?three-phase-dry-tszr$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?items/tproduct/513297793-165987156541-transformator-suhoi-tszm$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?nts-transformers$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?three-power-transformer-tszp$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?items/tproduct/513297793-952912811271-oborudovanie-dlya-progreva-betona$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?transformer-single-phase-dry$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?items/tproduct/513297793-599675883661-transformator-odnofaznii-suhoi-os$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?transformer-oso$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?items/tproduct/513297793-660278333971-transformatori-osz$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?welding-rectifiers-vd$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?multi-station-welding-rectifiers$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?items/tproduct/513297793-154883894151-transformatori-svarochnie-tdm$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?items/tproduct/513297793-128106903811-poluavtomat-drugoi-svarki$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?items/tproduct/513297793-276948305311-transformator-dlya-kontaktnoi-svarki$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?items/tproduct/513297793-643728959291-vipryamitel-svarochnii-invertornogo-tipa$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?items/tproduct/513297793-887792779071-ustroistvo-zaryadno-puskovoe-svarochnoe$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?voltage-reduction$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?items/tproduct/513297793-657376167931-istochnik-postoyannogo-toka$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?unicore-cores$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?items/tproduct/513297793-375732023531-shkafi-schiti-paneli$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?items/tproduct/513297793-663938800931-sredstva-zaschiti$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?accessories-for-welding$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?items/tproduct/513297793-288168132551-rashodnie-materiali$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?phase-switches$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?knife-switch-modular$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?accessories-for-ba47-29$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?rcd-vd1-63$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?page31946827.html$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?sockets-lamps$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?razradneki$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?items/tproduct/513297793-772232588071-transformatori-napryazheniya-nts$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?items/tproduct/513297793-151613664171-transformatori-mnogotselevie-odnofaznie$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?welding-rectifier-int$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?direct-current$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?vibration-equipment$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?cable-channels-1$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?cable-channels-2$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?cable-channels-3$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?cable-channels-4$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?pipe-corrugated$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?technical-hdpe$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?smooth-technical-hdpe$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?pipes-smooth-pvc$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?pipes-smooth-pvd$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?cabel-pugv$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?pipes-smooth-pvrr$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?pvc-wire$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?--$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?tv-cable$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?heating-wire-pnsv$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?aluminum-cable-avvg$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?kg-gost$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?cabel-vvg$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?armored-cable$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?flexible-copper-wire$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?sip-wire$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?shvvp-wire$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?copper-wire$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?aluminum-wire-surfactant$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?current-relay-reo$ https://plato-intel.by/catalog/rele-toka [R=301,L]
RewriteRule ^/?rcd-vd1-63-a$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?load-break-switches-hv$ https://plato-intel.by/catalog [R=301,L]
RewriteRule ^/?catalog/kontaktory-modulnye-25a-40a-63a/kontaktor-modulnyj-4no-kontakta-25a-12v-ac-dc-agsno2$ https://plato-intel.by/catalog/kontaktory-modulnye-25a-40a-63a [R=301,L]
RewriteRule ^/?catalog/kontaktory-modulnye-25a-40a-63a/kontaktor-modulnyj-1no-1nz-25a-230v-ac-dc-agsno2$ https://plato-intel.by/catalog/kontaktory-modulnye-25a-40a-63a [R=301,L]
RewriteRule ^/?catalog/kontaktory-modulnye-25a-40a-63a/kontaktor-modulnyj-1no-1nz-kontakta-25a-120v-ac-dc-agni$ https://plato-intel.by/catalog/kontaktory-modulnye-25a-40a-63a [R=301,L]
RewriteRule ^/?catalog/kontaktory-modulnye-25a-40a-63a/kontaktor-modulnyj-4no-kontakta-25a-12v-ac-dc-agni$ https://plato-intel.by/catalog/kontaktory-modulnye-25a-40a-63a [R=301,L]
RewriteRule ^/?catalog/kontaktory-modulnye-25a-40a-63a/kontaktor-modulnyj-1no-1nz-kontakta-25a-48v-ac-dc-agsno2$ https://plato-intel.by/catalog/kontaktory-modulnye-25a-40a-63a [R=301,L]
RewriteRule ^/?catalog/kontaktory-modulnye-25a-40a-63a/kontaktor-modulnyj-3no-1nz-25a-24v-ac-dc-agni$ https://plato-intel.by/catalog/kontaktory-modulnye-25a-40a-63a [R=301,L]
RewriteRule ^/?catalog/kontaktory-modulnye-25a-40a-63a/kontaktor-modulnyj-1no-1nz-kontakta-25a-120v-ac-dc-agsno21$ https://plato-intel.by/catalog/kontaktory-modulnye-25a-40a-63a [R=301,L]
RewriteRule ^/?catalog/kontaktory-modulnye-25a-40a-63a/kontaktor-modulnyj-1no-1nz-25a-230v-ac-dc-agni$ https://plato-intel.by/catalog/kontaktory-modulnye-25a-40a-63a [R=301,L]
RewriteRule ^/?catalog/kontaktory-modulnye-25a-40a-63a/kontaktor-modulnyj-4no-kontakta-25a-24v-ac-dc-agni7$ https://plato-intel.by/catalog/kontaktory-modulnye-25a-40a-63a [R=301,L]
RewriteRule ^/?catalog/kontaktory-modulnye-25a-40a-63a/kontaktor-modulnyj-1no-1nz-kontakta-25a-120v-ac-dc-agsno2$ https://plato-intel.by/catalog/kontaktory-modulnye-25a-40a-63a [R=301,L]
RewriteRule ^/?catalog/kontaktory-modulnye-25a-40a-63a/kontaktor-modulnyj-2nz-kontakta-25a-230v-ac-dc-agni$ https://plato-intel.by/catalog/kontaktory-modulnye-25a-40a-63a [R=301,L]
RewriteRule ^/?catalog/kontaktory-modulnye-25a-40a-63a/kontaktor-modulnyj-4no-kontakta-25a-24v-ac-dc-agni$ https://plato-intel.by/catalog/kontaktory-modulnye-25a-40a-63a [R=301,L]
RewriteRule ^/?news/novost-ne-dlya-glavnoj$ https://plato-intel.by/news [R=301,L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
